<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="potes.cucumberjvm.launching.cucumberTest">
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc:Automation}"/>
</launchConfiguration>
